<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Bazmi Uddin, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a developer with 3 years of experience building software. I have strong coding skills, problem-solving abilities, and a keen eye for clean, maintainable code, enabling me to deliver scalable and high-performance software solutions.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  